<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container {
            margin-top: 30px;
            padding: 10px 10px 10px 10px;
        }

        .text-center {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-center">COMPRESSOR SPEC. SHEET</h2>
            </div>
            <div class="col">

                <ul style="display: flex; justify-content: center; list-style-type: none;">
                    <li>Make</li>
                    <li style=" margin-top: 5px; margin-right: 250px;">------------------</li>

                    <li>Model</li>
                    <li style=" margin-top: 5px;">------------------</li>
                </ul>


                <!-- Line 1 -->
                <ul style="display: flex; justify-content: center; list-style-type: none;">
                    <li>Crosshead Shoes</li>
                    <li style=" margin-top: 5px; margin-right: 250px;">------------------</li>

                    <li>Main Bearings</li>
                    <li style=" margin-top: 5px;">------------------</li>
                </ul>


                <!-- Line 2 -->
                <ul style="display: flex; justify-content: center; list-style-type: none;">
                    <li>Conn Rod Bearings</li>
                    <li style=" margin-top: 5px; margin-right: 250px;">------------------</li>
                    <li>Crosshead Pin thru Bolt</li>
                    <li style=" margin-top: 5px;">------------------</li>
                </ul>


                <!-- Line 3 -->
                <ul style="display: flex; justify-content: center; list-style-type: none;">
                    <li>Spacer Bar Bolts</li>
                    <li style=" margin-top: 5px; margin-right: 250px;">------------------</li>

                    <li>Crosshead Guide to Crankcase</li>
                    <li style=" margin-top: 5px;">------------------</li>
                </ul>


                <!-- Line 4 -->
                <ul style="display: flex; justify-content: center; list-style-type: none;">
                    <li>Crosshead Guide to Cyl.</li>
                    <li style=" margin-top: 5px; margin-right: 250px;">------------------</li>
                    <li>Rod Packing Bolts</li>
                    <li style=" margin-top: 5px;">------------------</li>
                </ul>


                <!-- Line 5 -->
                <ul style="display: flex; justify-content: center; list-style-type: none;">
                    <li>Piston Nut</li>
                    <li style=" margin-top: 5px; margin-right: 250px;">------------------</li>

                    <li>Crosshead Nut</li>
                    <li style=" margin-top: 5px;">------------------</li>
                </ul>


                <!-- Line 6 -->
                <ul style="display: flex; justify-content: center; list-style-type: none;">
                    <li>Conn Rod Bearings</li>
                    <li style=" margin-top: 5px; margin-right: 250px;">------------------</li>
                    <li>Crosshead Pin thru Bolt</li>
                    <li style=" margin-top: 5px;">------------------</li>
                </ul>


            </div>
            <div class="col text-center" style="margin-top: 50px;">
                <h2>VALVE CAPS, VALVE CAP CENTRE BOLTS, AND CENTRE BOLT LOCKING NUT <br>CYLINDER HEADEND POCKET</h2>
            </div>


            <div class="col">
                <!-- Line 1 -->
                <ul style="display: flex; justify-content: center; list-style-type: none;">
                    <li>3/8"</li>
                    <li style=" margin-top: 5px; margin-right: 100px;">------------------</li>
                    <li>NF</li>
                    <li style=" margin-top: 5px;  margin-right: 100px;">------------------</li>
                    <li>NC</li>
                    <li style=" margin-top: 5px;  margin-right: 100px;">------------------</li>
                </ul>
                <ul style="display: flex; justify-content: center; list-style-type: none;">
                    <li>7/16"</li>
                    <li style=" margin-top: 5px; margin-right: 100px;">------------------</li>
                    <li>NF</li>
                    <li style=" margin-top: 5px;  margin-right: 100px;">------------------</li>
                    <li>NC</li>
                    <li style=" margin-top: 5px;  margin-right: 100px;">------------------</li>
                </ul>
                <ul style="display: flex; justify-content: center; list-style-type: none;">
                    <li>1/2"</li>
                    <li style=" margin-top: 5px; margin-right: 100px;">------------------</li>
                    <li>NF</li>
                    <li style=" margin-top: 5px;  margin-right: 100px;">------------------</li>
                    <li>NC</li>
                    <li style=" margin-top: 5px;  margin-right: 100px;">------------------</li>
                </ul>
                <ul style="display: flex; justify-content: center; list-style-type: none;">
                    <li>5/8"</li>
                    <li style=" margin-top: 5px; margin-right: 100px;">------------------</li>
                    <li>NF</li>
                    <li style=" margin-top: 5px;  margin-right: 100px;">------------------</li>
                    <li>NC</li>
                    <li style=" margin-top: 5px;  margin-right: 100px;">------------------</li>
                </ul>
            </div>


            <!-- Specification -->
            <div class="col">
                <h2 class="col text-center" style="margin-top: 50px;">SPECIFICATIONS</h2>
            </div>
            <div class="col">
                <ul style="display: flex; justify-content: center; list-style-type: none;">
                    <li>Conn Rod Bushing</li>
                    <li style=" margin-top: 5px; margin-right: 250px;">------------------</li>

                    <li>Babbit</li>
                    <li style=" margin-top: 5px;">------------------</li>
                </ul>

                <ul style="display: flex; justify-content: center; list-style-type: none;">
                    <li>Conn Rod Side Clearance</li>
                    <li style=" margin-top: 5px; margin-right: 250px;">------------------</li>

                    <li>Bronze</li>
                    <li style=" margin-top: 5px;">------------------</li>
                </ul>
                <ul style="display: flex; justify-content: center; list-style-type: none;">
                    <li>Main Bearing Clearance</li>
                    <li style=" margin-top: 5px; margin-right: 250px;">------------------</li>

                    <li>Cast Iron</li>
                    <li style=" margin-top: 5px;">------------------</li>
                </ul>
                <ul style="display: flex; justify-content: center; list-style-type: none;">
                    <li>Conn Rod Bearing Clearance</li>
                    <li style=" margin-top: 5px; margin-right: 250px;">------------------</li>

                    <li>Piston End Clearance</li>
                    <li style=" margin-top: 5px;">------------------</li>
                </ul>
                <ul style="display: flex; justify-content: center; list-style-type: none;">
                    <li>Crankshaft End Clearance</li>
                    <li style=" margin-top: 5px; margin-right: 250px;">------------------</li>

                    <li>Rod Packing Side Clearance</li>
                    <li style=" margin-top: 5px;">------------------</li>
                </ul>
                <ul style="display: flex; justify-content: center; list-style-type: none;">
                    <li>Bronze</li>
                    <li style=" margin-top: 5px; margin-right: 250px;">------------------</li>

                    <li>Teflon</li>
                    <li style=" margin-top: 5px;">------------------</li>
                </ul>
                <ul style="display: flex; justify-content: center; list-style-type: none;">
                    <li>Compressor Oil Pressure</li>
                    <li style=" margin-top: 5px; margin-right: 250px;">------------------</li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>